@use './constructor/variables.scss' as *;

.header {
  padding-top: 40px;
}

.header__container {
  display: flex;
  max-width: 358px;
  margin: 0 auto;
  padding: 14px 14px 14px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-11, #1c1c1c);
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.header-logo-svg {
  width: 26px;
  height: 26px;
}

.header-logo-text {
  color: var(--Absolute-White, #fff);
  text-align: center;
  font-size: $spacing-md-2;
}

.header-buttons-container {
  display: none;
}

.header-buttons-pc {
  display: none;
}

.header__menu {
  display: flex;
  padding: 6px 14px;
  align-items: center;
  gap: 10px;
  border-radius: 82px;
  background: var(--Green-60, #caff33);
}

.burger-button {
  width: 28px;
  height: 28px;
}

@include respond(md) {
  .header {
    padding-top: 30px;
  }

  .header__container {
    max-width: 1280px;
    padding: 14px 24px;
    position: relative;
  }

  .header-logo-svg {
    width: 30px;
    height: 30px;
  }

  .header-logo-text {
    font-size: $spacing-md;
  }

  .header-buttons-container {
    display: flex;
    align-items: center;
    gap: 26px;
    position: absolute;
    left: 505px;
    top: 26px;
  }

  .header-buttons {
    color: var(--Absolute-White, #fff);
    font-size: $spacing-md-2;
    line-height: 150%;
  }

  .header-buttons-pc {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header__menu {
    display: none;
  }

  .login-button-header {
    color: var(--Grey-11, #1c1c1c);
    font-size: $spacing-md-2;
    line-height: 150%;
    border-radius: 82px;
    background: var(--Green-60, #caff33);
    padding: 12px 24px;
  }

  .sign-up-button-header {
    color: var(--Absolute-White, #fff);
    font-size: $spacing-md-2;
    line-height: 150%;
    background: var(--Grey-11, #1c1c1c);
  }
}

@include respond(lg) {
  .header {
    padding-top: 50px;
  }

  .header__container {
    max-width: 1596px;
    padding: 20px 34px;
  }

  .header-logo-svg {
    width: 40px;
    height: 40px;
  }

  .header-logo-text {
    font-size: $spacing-lg-2;
  }

  .header-buttons-container {
    left: 636px;
    top: 34px;
  }

  .header-buttons {
    font-size: $spacing-lg-2;
  }

  .header-buttons-pc {
    gap: 30px;
  }

  .login-button-header {
    font-size: $spacing-lg-2;
    padding: 14px 30px;
  }

  .sign-up-button-header {
    font-size: $spacing-lg-2;
  }

  .burger-button {
    width: 30px;
    height: 30px;
  }
}
