@use '../constructor/variables.scss' as *;

.priority {
  padding-top: $spacing-x8l + 43px;
  .priority__container {
    max-width: 358px;
    margin: 0 auto;
    padding: 288px $spacing-md $spacing-md $spacing-md;
    border-radius: 20px;
    background: url('../../img/Security/priority/security-390.png') 15px 15px /
        328px no-repeat,
      url('../../img/About/abstract-img/abstract-img.png') top right / auto
        no-repeat;
    background-color: var(--Grey-11);
  }

  .priority__text-container {
    display: flex;
    padding: $spacing-x2l;
    flex-direction: column;
    align-items: center;
    gap: $spacing-md;
    border-radius: 20px;
    background: var(--Grey-10);
    .priority__title {
      text-align: center;
      font-size: $font-x2l;
      font-weight: 500;
      line-height: $lh-tight;
      .span {
        color: var(--Green-60);
      }
    }
    .priority__text {
      color: var(--Grey-70);
      text-align: center;
      font-size: $font-xs;
      font-weight: 300;
      line-height: $lh-default;
    }
  }
}

@include respond(md) {
  .priority {
    padding-top: $spacing-x8l + 53px;
    .priority__container {
      max-width: 1280px;
      min-height: 648px;
      padding: $spacing-x4l;
      background: url('../../img/Security/priority/security-1440.png') 525px
          42px / auto no-repeat,
        url('../img/About/abstract-img/abstract-img-1440.png') top right / auto
          no-repeat;
      background-color: var(--Grey-11);
    }

    .priority__text-container {
      width: 658px;
      padding: $spacing-x6l;
      gap: $spacing-xl;
      .priority__title {
        text-align: left;
        font-size: $font-x5l;
      }
      .priority__text {
        text-align: left;
        font-size: $font-sm;
      }
    }
  }
}

@include respond(lg) {
  .priority {
    padding-top: $spacing-x8l + $spacing-x8l;
    .priority__container {
      max-width: 1596px;
      min-height: 816px;
      padding: $spacing-x5l;
      background: url('../../img/Security/priority/security-1920.png') 579px
          49px / auto no-repeat,
        url('../img/About/abstract-img/abstract-img-1920.png') top right / auto
          no-repeat;
      background-color: var(--Grey-11);
    }

    .priority__text-container {
      width: 790px;
      padding: $spacing-x7l;
      gap: 23px;
      .priority__title {
        font-size: $font-x6l;
      }
      .priority__text {
        font-size: $font-md;
      }
    }
  }
}
