@use '../constructor/variables.scss' as *;

.protect {
  padding-top: $spacing-x7l;
}
.protect__container {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-x4l;
  margin: 0 auto;
  .protect__list-back {
    display: none;
  }
}
.protect__header {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  .protect__header-title {
    text-align: center;
    font-size: $font-x2l;
    font-weight: 500;
    line-height: $lh-default;
    .span {
      color: var(--Green-60);
    }
  }
  .protect__header-text {
    color: var(--Grey-70);
    text-align: center;
    font-size: $font-xs;
    font-weight: 300;
    line-height: $lh-default;
  }
}

.protect__list {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  .protect__item {
    display: flex;
    padding: $spacing-x2l;
    flex-direction: column;
    gap: 18px;
    border-radius: 20px;
    border: 1px solid var(--Grey-15);

    background: linear-gradient(
        106deg,
        rgba(202, 255, 51, 0.05) -29.45%,
        rgba(202, 255, 51, 0) 27.86%
      ),
      linear-gradient(267deg, #1c1c1c 40.67%, rgba(28, 28, 28, 0) 99.81%);
    background-blend-mode: normal, normal;

    .protect__box {
      display: flex;
      align-items: center;
      gap: $spacing-md;

      .protect__icon-border {
        padding: 8px;
        border-radius: 70px;
        background: linear-gradient(
          180deg,
          rgba(202, 255, 51, 0.05) 0%,
          rgba(202, 255, 51, 0) 100%
        );
        .protect__icon {
          position: relative;
          width: 52px;
          height: 52px;
          display: flex;
          border-radius: 50px;
          background: linear-gradient(
            180deg,
            rgba(202, 255, 51, 0.1) -66.22%,
            rgba(202, 255, 51, 0) 85.46%
          );
          justify-content: center;
          align-items: center;
          .protect__icon-svg {
            width: 24px;
            height: 24px;
          }
        }

        .protect__icon::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            180deg,
            rgba(202, 255, 51, 0.1) -66.22%,
            rgba(202, 255, 51, 0) 85.46%
          );
          border-radius: 50px;
          pointer-events: none;
          padding: 1px;
          -webkit-mask: linear-gradient(var(--Absolute-White) 0 0) content-box,
            linear-gradient(var(--Absolute-White) 0 0);
          mask-composite: exclude;
        }
      }
      .protect__item-title {
        font-size: $font-md;
        line-height: $lh-default;
      }
    }
    .protect__item-text {
      color: var(--White-90);
      font-size: $font-xs;
      font-weight: 300;
      line-height: $lh-default;
    }
  }
}

@include respond(md) {
  .protect {
    padding-top: $spacing-x7l + $spacing-x4l;
  }
  .protect__container {
    max-width: 1280px;
    gap: $spacing-x7l + $spacing-x4l;
  }
  .protect__header {
    padding-right: $spacing-x8l * 2 + $spacing-x5l;
    align-items: flex-start;
    gap: $spacing-sm;
    .protect__header-title {
      text-align: left;
      font-size: $font-x4l;
    }
    .protect__header-text {
      text-align: left;
      font-size: $font-sm;
    }
  }

  .protect__list {
    display: grid;
    grid-template-columns: 550px 550px;
    gap: $spacing-xl;
    position: relative;
    .protect__list-back {
      opacity: 40%;
      position: absolute;
      z-index: -100;
      display: block;
      width: 1269px;
      height: 549px;
      border-radius: $spacing-x5l $spacing-x5l $spacing-xl $spacing-xl;
      background: linear-gradient(
        106deg,
        rgba(202, 255, 51, 0.05) 0%,
        rgba(202, 255, 51, 0) 34%,
        rgba(38, 38, 38, 0.41) 51%,
        rgba(38, 38, 38, 0.46) 99%
      );
      right: -75px;
      top: -65px;
    }
    .protect__item {
      padding: $spacing-x4l;
      flex-direction: column;
      gap: $spacing-xl;
      .protect__box {
        .protect__icon-border {
          .protect__icon {
            width: 60px;
            height: 60px;
            .protect__icon-svg {
              width: 28px;
              height: 28px;
            }
          }
        }
        .protect__item-title {
          font-size: $font-lg;
        }
      }
      .protect__item-text {
        font-size: $font-sm;
      }
    }
  }
}
@include respond(lg) {
  .protect {
    padding-top: $spacing-x8l + $spacing-x5l;
  }
  .protect__container {
    max-width: 1596px;
    gap: $spacing-x8l + $spacing-x8l;
  }
  .protect__header {
    padding-right: $spacing-x8l * 3;
    gap: $spacing-md;
    .protect__header-title {
      font-size: $font-x5l;
    }
    .protect__header-text {
      font-size: $font-md;
    }
  }

  .protect__list {
    grid-template-columns: 688px 688px;
    gap: $spacing-x3l;
    .protect__list-back {
      width: 1593px;
      height: 631px;
      right: -70px;
      top: -100px;
    }
    .protect__item {
      padding: $spacing-x5l;
      gap: $spacing-x2l;
      .protect__box {
        gap: $spacing-xl;
        .protect__icon-border {
          padding: 12px;
          .protect__icon {
            width: 74px;
            height: 74px;
            .protect__icon-svg {
              width: 34px;
              height: 34px;
            }
          }
        }
        .protect__item-title {
          font-size: $font-xl;
        }
      }
      .protect__item-text {
        font-size: $font-md;
      }
    }
  }
}
