@use '../constructor/variables.scss' as *;
svg {
  width: 72px;
  height: 72px;
}

.our-benefits {
  padding-top: $spacing-x7l;

  &__container {
    max-width: 358px;
    margin: 0 auto;
  }

  &__wrapper-title {
    margin-bottom: $spacing-x6l;

    .our-benefits__title {
      color: var(--Absolute-White);
      text-align: center;
      font-size: $font-x2l;
      font-weight: 500;
      line-height: $lh-default;
      margin-bottom: $spacing-sm;
      span {
        color: var(--Green-60);
      }
    }

    .our-benefits__subtitle {
      color: var(--Grey-70);
      text-align: center;
      font-size: $font-xs;
      font-weight: 300;
      line-height: $lh-default;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 48px;

    .our-benefits__list-item:not(:last-child)::after {
      content: '';
      position: absolute;
      bottom: -24px;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: url('../img/Careers/line/line-390.png');
    }

    &-item {
      position: relative;
      padding: $spacing-x2l;
      border-radius: 40px 40px 14px 14px;
      border: 1px solid rgba(202, 255, 51, 0.1);
      background: linear-gradient(
          106deg,
          rgba(202, 255, 51, 0.05) -29.45%,
          rgba(202, 255, 51, 0) 27.86%
        ),
        linear-gradient(267deg, #1c1c1c 40.67%, rgba(28, 28, 28, 0) 99.81%);

      .our-benefits__item-wrapper-title {
        display: flex;
        align-items: center;
        gap: $spacing-sm;
        margin-bottom: $spacing-xl;

        .our-benefits__icon-border {
          padding: 8px;
          border-radius: 70px;
          background: linear-gradient(
            180deg,
            rgba(202, 255, 51, 0.05) 0%,
            rgba(202, 255, 51, 0) 100%
          );
          .our-benefits__icon {
            position: relative;
            width: 56px;
            height: 56px;
            display: flex;
            border-radius: 50px;
            background: linear-gradient(
              180deg,
              rgba(202, 255, 51, 0.1) -66.22%,
              rgba(202, 255, 51, 0) 85.46%
            );
            justify-content: center;
            align-items: center;
            .our-benefits__icon-svg {
              width: 24px;
              height: 24px;
            }
          }
          .our-benefits__icon::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
              180deg,
              rgba(202, 255, 51, 0.1) -66.22%,
              rgba(202, 255, 51, 0) 85.46%
            );
            border-radius: 50px;
            pointer-events: none;
            padding: 1px;
            -webkit-mask: linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            mask-composite: exclude;
          }
        }

        .our-benefits__item-title {
          color: var(--Absolute-White);
          font-size: $font-md;
          line-height: $lh-default;
        }
      }

      .our-benefits__item-text {
        color: var(--Grey-70);
        font-size: $font-xs;
        font-weight: 300;
        line-height: $lh-default;
      }
    }
  }
}

@include respond(md) {
  .our-benefits {
    padding-top: $spacing-x7l + $spacing-x4l;

    &__container {
      max-width: 1280px;
    }

    &__wrapper-title {
      .our-benefits__title {
        text-align: start;
        font-size: $font-x4l;
      }

      .our-benefits__subtitle {
        text-align: start;
        font-size: $font-sm;
      }
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: $spacing-x5l + $spacing-sm;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 100%;
        height: 1px;
        background-image: url('../img/Careers/line/line-1440-horizontal.png');
      }

      .our-benefits__list-item {
        &:nth-of-type(1)::after,
        &:nth-of-type(3)::after {
          content: none;
        }

        &:nth-of-type(2)::after,
        &:last-child::after {
          content: '';
          position: absolute;
          top: 0;
          left: -30px;
          width: 1px;
          height: 100%;
          background-image: url('../img/Careers/line/line-1440.png');
        }
      }

      &-item {
        width: calc(50% - 30px);
        padding: $spacing-x4l;

        .our-benefits__item-wrapper-title {
          margin-bottom: $spacing-x2l;
          gap: $spacing-md;

          .our-benefits__icon-border {
            .our-benefits__icon {
              width: 60px;
              height: 60px;
              .our-benefits__icon-svg {
                width: 28px;
                height: 28px;
              }
            }
          }

          .our-benefits__item-title {
            font-size: $font-lg;
          }
        }

        .our-benefits__item-text {
          font-size: $font-sm;
        }
      }
    }
  }
}

@include respond(lg) {
  .our-benefits {
    padding-top: $spacing-x8l + $spacing-x5l;

    &__container {
      max-width: 1596px;
    }

    &__wrapper-title {
      margin-bottom: $spacing-x5l + $spacing-x3l;
      padding-right: 300px;

      .our-benefits__title {
        margin-bottom: $spacing-md;
        font-size: $font-x5l;
      }

      .our-benefits__subtitle {
        font-size: $font-md;
      }
    }

    &__list {
      gap: $spacing-x8l;

      &::after {
        background-image: url('../img/Careers/line/line-1920-horizontal.png');
      }

      .our-benefits__list-item {
        &:nth-of-type(2)::after,
        &:last-child::after {
          background-image: url('../img/Careers/line/line-1920.png');
          left: -50px;
        }
      }

      &-item {
        width: calc(50% - 50px);
        padding: $spacing-x5l;

        .our-benefits__item-wrapper-title {
          margin-bottom: $spacing-x3l;
          gap: $spacing-lg;

          .our-benefits__icon-border {
            padding: 12px;
            .our-benefits__icon {
              width: 74px;
              height: 74px;
              .our-benefits__icon-svg {
                width: 34px;
                height: 34px;
              }
            }
          }

          .our-benefits__item-title {
            font-size: $font-xl;
          }
        }

        .our-benefits__item-text {
          font-size: $font-md;
        }
      }
    }
  }
}
