@use '../constructor/variables.scss' as *;

.burger-modal {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: $spacing-x4l;
  padding-right: $spacing-x2l;
  background-color: rgba(28, 28, 28, 0.6);
  backdrop-filter: blur(5px);
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  &__container {
    height: auto;
    max-height: 90vh;
    display: flex;
    width: 100px;
    padding-top: $spacing-x2l;
    padding-bottom: $spacing-x2l;
    background: var(--Grey-11);
    border-radius: 20px;
    border-left: 1px solid var(--Grey-15);
    flex-direction: column;
    align-items: center;
    gap: $spacing-x3l;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: $spacing-x2l;
    .burger-modal__nav-link {
      color: var(--Absolute-White);
      font-size: $font-xs;
      font-style: normal;
      line-height: $lh-default;
    }
    .burger-modal__nav-link:hover,
    .burger-modal__nav-link:focus {
      opacity: 90%;
      padding: $spacing-sm $spacing-xl;
      color: var(--Grey-11);
      border-radius: 63px;
      background: var(--Green-60);
    }
  }
}
