@use '../constructor/variables.scss' as *;

.modal-login {
  padding-top: 30px;
}

.container-modal-login {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 358px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--Grey-15, #262626);
  background: url(#{$bg-img-modal-login}) center / cover no-repeat, #1c1c1c;
  background-blend-mode: multiply, normal;
  padding: 30px;
}

.container-login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title-login {
  color: var(--Green-60, #caff33);
  text-align: center;
  font-size: $spacing-xl-2;
  font-weight: 500;
}

.text-login {
  color: var(--Grey-75, #bfbfbf);
  text-align: center;
  font-size: $spacing-md-2;
  font-weight: 300;
}

.container-button-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}

.container-form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.ifkfsd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.input-date-login {
  color: var(--Grey-35, #59595a);
  font-size: $spacing-md;
  font-weight: 300;
  line-height: 24px;
  padding: 16px;
  border-radius: 88px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
}

.link-text {
  color: var(--Absolute-White, #fff);
  font-size: $spacing-md-2;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
}

.login-button {
  color: var(--Grey-15, #262626);
  font-size: $spacing-md-2;
  line-height: 150%;
  padding: 14px 24px;
  align-self: stretch;
  border-radius: 63px;
  background: var(--Green-60, #caff33);
}

.sign-up-button {
  color: var(--Absolute-White, #fff);
  font-size: $spacing-md-2;
  line-height: 150%;
  padding: 14px 24px;
  align-self: stretch;
  border-radius: 63px;
  border: 1px solid var(--Grey-20, #333);
  background: var(--Grey-15, #262626);
}

.container-additional {
  display: flex;
  align-items: center;
  gap: 16px;
}

.line-header {
  width: 75px;
  height: 1px;
  background: #b3b3b3;
}

.additional-text {
  color: var(--Grey-70, #b3b3b3);
  text-align: center;
  font-size: $spacing-md-2;
  line-height: 150%; /* 21px */
}

.list-soc-media {
  // width: 298px;
  // height: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.item-soc-media {
  // width: 68px;
  // height: 68px;
}

.container-img-modal-login {
  padding: 8px;
  border-radius: 70px;
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.05) 0%,
    rgba(202, 255, 51, 0) 100%
  );
}

.img-modal-login {
  width: 52px;
  height: 52px;
  padding: 14px;
  border-radius: 50px;
  border: 1px solid #caff33;
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.1) -66.22%,
    rgba(202, 255, 51, 0) 85.46%
  );
}
.google-img {
}

.facebook-img {
}

.apple-img {
}

@include respond(md) {
  .modal-login {
    padding-top: 50px;
  }

  .container-modal-login {
    gap: 60px;
    max-width: 1064px;
    padding: 80px 200px;
  }

  .container-login-header {
    gap: 16px;
  }

  .title-login {
    font-size: 38px;
  }

  .text-login {
    font-size: $spacing-md;
  }

  .container-form-login {
    gap: 30px;
  }

  .container-button-login {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .input-date-login {
    width: 100%;
    padding: 20px;
  }

  .link-text {
    font-size: $spacing-md;
    line-height: 24px;
  }

  .ifkfsd {
    padding: 0px 130px;
    align-self: stretch;
  }

  .line-header {
    width: 128px;
  }
}

@include respond(lg) {
  .modal-login {
    padding-top: 53px;
  }

  .container-modal-login {
    gap: 80px;
    max-width: 1326px;
    padding: 100px 150px;
    border-radius: 20px;
    padding: 30px;
  }

  .container-login-header {
    gap: 20px;
  }

  .title-login {
    font-size: 48px;
    line-height: normal;
  }

  .text-login {
    font-size: 18px;
    line-height: normal;
  }

  .container-button-login {
    gap: 30px;
  }

  .container-form-login {
    gap: 40px;
  }

  .ifkfsd {
    padding: 0px 373px;
  }

  .input-date-login {
    padding: 24px;
    color: var(--Grey-35, #59595a);
    font-size: 18px;
    line-height: 27px;
  }

  .link-text {
    font-size: 18px;
    line-height: 27px;
  }

  .login-button {
    padding: 18px 20px;
    font-size: 18px;
    line-height: 27px;
  }

  .sign-up-button {
    padding: 18px 20px;
    font-size: 18px;
    line-height: 27px;
  }

  .container-additional {
    gap: 20px;
  }

  .line-header {
    width: 165.5px;
  }

  .additional-text {
    font-size: 18px;
    line-height: 27px;
  }

  .list-soc-media {
    gap: 24px;
  }

  .item-soc-media {
    // width: 68px;
    // height: 68px;
  }

  .container-img-modal-login {
    padding: 12px;
  }

  .img-modal-login {
    padding: 20px;
  }
  .google-img {
  }

  .facebook-img {
  }

  .apple-img {
  }
}
