@use '../constructor/variables.scss' as *;

.modal-login {
  padding-top: 30px;
}

.container-modal-login {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 358px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--Grey-15, #262626);
  background: url(#{$bg-img-modal-login}) center / cover no-repeat, #1c1c1c;
  background-blend-mode: multiply, normal;
  padding: 30px;
}

.container-login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title-login {
  color: var(--Green-60, #caff33);
  text-align: center;
  font-size: $font-size-lg;
  font-weight: 500;
}

.text-login {
  color: var(--Grey-75, #bfbfbf);
  text-align: center;
  font-size: $font-size-sm;
  font-weight: 300;
}

.container-button-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.container-form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

// .input-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   gap: 20px;
//   align-self: stretch;
// }

.input-date-login {
  padding: 16px;
  align-self: stretch;
  border-radius: 88px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
}

.link-text {
  color: var(--Absolute-White, #fff);
  font-size: $font-size-sm;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
}

.login-button {
  color: var(--Grey-15, #262626);
  font-size: $font-size-sm;
  line-height: 150%;
  padding: 14px 24px;
  align-self: stretch;
  border-radius: 63px;
  background: var(--Green-60, #caff33);
}

.sign-up-button {
  color: var(--Absolute-White, #fff);
  font-size: $font-size-sm;
  line-height: 150%;
  padding: 14px 24px;
  align-self: stretch;
  border-radius: 63px;
  border: 1px solid var(--Grey-20, #333);
  background: var(--Grey-15, #262626);
}

.container-additional {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.line-header {
  width: 75px;
  height: 1px;
  background: #b3b3b3;
}

.additional-text {
  color: var(--Grey-70, #b3b3b3);
  text-align: center;
  font-size: $spacing-md-2;
  line-height: 150%; /* 21px */
}

.list-soc-media {
  // width: 298px;
  // height: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.item-soc-media {
  // width: 68px;
  // height: 68px;
}

.container-img-modal-login {
  padding: 8px;
  border-radius: 70px;
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.05) 0%,
    rgba(202, 255, 51, 0) 100%
  );
}

.img-modal-login {
  width: 52px;
  height: 52px;
  padding: 14px;
  border-radius: 50px;
  border: 1px solid #caff33;
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.1) -66.22%,
    rgba(202, 255, 51, 0) 85.46%
  );
}
.google-img {
}

.facebook-img {
}

.apple-img {
}
