@use '../constructor/variables.scss' as *;

.cases {
  padding-top: $spacing-x7l;
}
.cases__container {
  display: flex;
  max-width: 358px;
  flex-direction: column;
  align-items: center;
  gap: $spacing-x6l;
  margin: 0 auto;
}

.cases__text-container {
  display: flex;
  gap: $spacing-sm;
  flex-direction: column;
  .cases__title {
    color: $accent-color;
    text-align: center;
    font-size: $font-x2l;
    font-weight: 500;
    line-height: $lh-default;
  }

  .cases__text {
    color: var(--Grey-70);
    text-align: center;
    font-size: $font-xs;
    font-weight: 300;
    line-height: $lh-default;
  }
}

.cases__box {
  display: flex;
  flex-direction: column;
  gap: $spacing-x4l;

  .cases__sub-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-x3l;

    .sub-box__list {
      width: 360px;
      display: grid;
      grid-template-columns: 154px 154px;
      grid-template-rows: 160px 160px;
      justify-items: center;
      padding: $spacing-xl;
      border-radius: 20px;
      gap: $spacing-sm;
      background: url('../../img/Home/points/points-390.png') top left / auto
          no-repeat,
        var(--Grey-11);
      .sub-box__item {
        display: flex;
        padding: $spacing-xl $spacing-md;
        flex-direction: column;
        align-items: center;
        gap: $spacing-md;
        width: 154px;
        border: 1px solid var(--Grey-15);
        background: var(--Grey-10);
        border-radius: 12px;

        .sub-box__icon-border {
          padding: 8px;
          border-radius: 70px;
          background: linear-gradient(
            180deg,
            rgba(202, 255, 51, 0.05) 0%,
            rgba(202, 255, 51, 0) 100%
          );
          .sub-box__icon {
            position: relative;
            width: 48px;
            height: 48px;
            display: flex;
            border-radius: 50px;
            background: linear-gradient(
              180deg,
              rgba(202, 255, 51, 0.1) -66.22%,
              rgba(202, 255, 51, 0) 85.46%
            );
            justify-content: center;
            align-items: center;
            .sub-box__icon-svg {
              width: 24px;
              height: 24px;
            }
          }

          .sub-box__icon::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
              180deg,
              rgba(202, 255, 51, 0.1) -66.22%,
              rgba(202, 255, 51, 0) 85.46%
            );
            border-radius: 50px;
            pointer-events: none;
            padding: 1px;
            -webkit-mask: linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            mask-composite: exclude;
          }
        }

        .sub-box__text {
          text-align: center;
          font-size: $font-xs;
          line-height: $lh-default;
        }
      }
    }

    .sub-box__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing-x5l;

      .sub-box__enter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-sm;

        .enter__title {
          text-align: center;
          font-size: $font-lg;
          line-height: $lh-default;
          font-weight: 500;
        }

        .enter__text {
          color: $grey-70;
          text-align: center;
          font-size: $font-xs;
          font-weight: 300;
          line-height: $lh-default;
        }
      }

      .interest {
        display: flex;
        padding: 0 $spacing-x5l;
        flex-direction: column;
        gap: $spacing-x3l;

        .interest__box {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2px;

          .interest__num {
            color: var(--Green-60);
            text-align: center;
            font-size: 40px;
            font-weight: 500;
            line-height: $lh-default;
          }

          .interest__text {
            color: var(--Grey-70);
            text-align: center;
            font-size: $font-xs;
            font-weight: 300;
            line-height: $lh-default;
            margin-bottom: 28px;
          }
        }
      }
    }

    .sub-box__btn {
      padding: $spacing-md $spacing-xl;
      text-align: center;
      font-size: $font-xs;
      line-height: $lh-default;
      color: $white;
      border-radius: 82px;
      border: 1px solid var(--Grey-15);
      background: var(--Grey-11);
      transition: all 0.5s ease;

      &:hover,
      &:focus {
        color: var(--Green-60);
        background: $olive-dark;
      }
    }
  }
}

.interest__box::after {
  content: '';
  width: 258px;
  height: 2px;
  background-image: url(../../img/Home/lines/line-cases-390.png);
}

.interest__box:last-child::after {
  display: none;
}

.interest__text:last-child {
  margin-bottom: 0;
}

@include respond(md) {
  .cases {
    padding-top: $spacing-x7l + $spacing-x4l;
  }
  .cases__container {
    max-width: 1280px;
  }

  .cases__text-container {
    display: flex;
    padding-right: 30%;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-sm;

    .cases__title {
      font-size: $font-x4l;
    }

    .cases__text {
      text-align: left;
      font-size: $font-sm;
    }
  }

  .cases__box {
    .cases__sub-box {
      flex-direction: row;
      align-items: center;
      gap: $spacing-x6l;

      .sub-box__list {
        width: 610px;
        grid-template-columns: 260px 260px;
        grid-template-rows: 174px 174px;
        padding: $spacing-x4l;

        .sub-box__item {
          padding: $spacing-x3l;
          width: 260px;

          .sub-box__text {
            font-size: $font-sm;
          }
        }
      }
      .sub-box__list-1 {
        background-image: url(../../img/Home/points/points-1440-left.png);
      }
      .sub-box__list-2 {
        background: url('../../img/Home/points/points-1440-right.png') top right /
            auto no-repeat,
          var(--Grey-11);
      }
      .sub-box__container {
        align-items: flex-start;

        .sub-box__enter {
          align-items: flex-start;

          .enter__title {
            font-size: 26px;
          }

          .enter__text {
            text-align: left;
            font-size: $font-sm;
          }
        }

        .interest {
          padding: 0;
          flex-direction: row;
          gap: $spacing-x8l;

          .interest__box {
            position: relative;
            align-items: flex-start;
            gap: 5px;

            .interest__num {
              font-size: 40px;
              text-align: left;
            }

            .interest__text {
              font-size: 15px;
              text-align: left;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .cases__sub-box:last-child {
      flex-direction: row-reverse;
    }
  }

  .interest__box::after {
    position: absolute;
    z-index: 10;
    width: 2px;
    height: 111px;
    right: -$spacing-x5l;
    background-image: url(../../img/Home/lines/line-cases-1440.png);
  }
}

@include respond(lg) {
  .cases {
    padding-top: $spacing-x8l + $spacing-x5l;
  }
  .cases__container {
    max-width: 1596px;
    gap: $spacing-x7l;
  }

  .cases__text-container {
    padding-right: 40%;
    gap: $spacing-md;

    .cases__title {
      font-size: $font-x5l;
    }

    .cases__text {
      font-size: $font-md;
    }
  }

  .cases__box {
    gap: $spacing-x6l;
    .cases__sub-box {
      gap: $spacing-x8l;

      .sub-box__list {
        width: 750px;
        grid-template-columns: 314px 314px;
        grid-template-rows: 222px 222px;
        padding: $spacing-x5l;
        gap: $spacing-xl;

        .sub-box__item {
          padding: $spacing-x3l;
          width: 314px;
          gap: $spacing-x2l;

          .sub-box__icon-border {
            padding: $spacing-sm;
            .sub-box__icon {
              width: 58px;
              height: 58px;
              .sub-box__icon-svg {
                width: 30px;
                height: 30px;
              }
            }
          }

          .sub-box__text {
            font-size: $font-lg;
          }
        }
      }

      .sub-box__container {
        gap: 62px;

        .sub-box__enter {
          gap: $spacing-md;
          .enter__title {
            font-size: $font-x3l;
          }

          .enter__text {
            font-size: $font-md;
          }
        }

        .interest {
          .interest__box {
            .interest__num {
              font-size: $font-x6l;
            }

            .interest__text {
              font-size: $font-md;
            }
          }
        }

        .sub-box__btn {
          font-size: $font-md;
          padding: 18px $spacing-x2l;
        }
      }
    }
  }

  .interest__box::after {
    width: 3px;
    height: 146px;
    background-image: url(../../img/Home/lines/line-cases-1920.png);
  }
}
