.cases__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 0 auto;
  padding: 0 16px;
}

.cases__text-container {
  .cases__title {
    color: #caff33;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
  }
  .cases__text {
    color: #b3b3b3;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.cases__box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .cases__sub-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .sub-box__list {
      width: 360px;
      display: grid;
      grid-template-columns: 154px 154px;
      grid-template-rows: 160px 160px;
      justify-items: center;
      padding: 20px;
      border-radius: 20px;
      background: #1c1c1c;
      gap: 10px;
      background-image: url(./img/Home/home-img/cases/bac.svg);
      background-repeat: no-repeat;
      .sub-box__item {
        display: flex;
        padding: 20px 14px;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        width: 154px;
        border-radius: 12px;
        border: 1px solid #262626;
        background: #1a1a1a;
        .sub-box__svg {
          width: 64px;
          height: 64px;
        }
        .sub-box__text {
          text-align: center;
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }

    .sub-box__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      .sub-box__enter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .enter__title {
          text-align: center;
          font-size: 20px;
          line-height: 1.5;
        }
        .enter__text {
          color: #b3b3b3;
          text-align: center;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
      .interest {
        display: flex;
        padding: 0px 50px;
        flex-direction: column;
        gap: 30px;
        .interest__box {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2px;
          .interest__num {
            color: #caff33;
            text-align: center;
            font-size: 40px;
            font-weight: 500;
            line-height: 1.5;
          }
          .interest__text {
            color: #b3b3b3;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
            margin-bottom: 30px;
          }
        }
      }
    }
    .sub-box__btn {
      padding: 14px 20px;
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
      border-radius: 82px;
      color: #fff;
      border: 1px solid #262626;
      background: #1c1c1c;
      transition: all 0.5s ease;
    }
    .sub-box__btn:hover {
      color: #caff33;
      background: #22251b;
    }

    .sub-box__btn:focus {
      color: #caff33;
      background: #22251b;
    }
  }
}
.interest__box::after {
  content: "";
  width: 258px;
  height: 2px;
  background-image: url(./img/Home/home-img/cases/lineDashed.svg);
}
.interest__box:last-child::after {
  display: none;
}
.interest__text:last-child {
  margin-bottom: 0px;
}

@media (min-width: 1440px) {
  .cases__container {
    padding: 0 80px;
  }
  .cases__text-container {
    display: flex;
    padding-right: 30%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    .cases__title {
      font-size: 38px;
    }
    .cases__text {
      text-align: left;
      font-size: 16px;
    }
  }
  .cases__box {
    flex-direction: column;
    .cases__sub-box {
      flex-direction: row;
      align-items: center;
      gap: 60px;
      .sub-box__list {
        width: 610px;
        grid-template-columns: 260px 260px;
        grid-template-rows: 174px 174px;
        padding: 40px;
        background-image: url(./img/Home/home-img/cases/bac1440.svg);
        .sub-box__item {
          padding: 24px;
          width: 260px;
          .sub-box__text {
            font-size: 16px;
          }
        }
      }
      .sub-box__container {
        align-items: flex-start;
        gap: 50px;
        .sub-box__enter {
          align-items: flex-start;
          .enter__title {
            font-size: 26px;
          }
          .enter__text {
            text-align: left;
            font-size: 16px;
          }
        }
        .interest {
          padding: 0px 0px;
          flex-direction: row;
          gap: 100px;
          .interest__box {
            align-items: start;
            gap: 5px;
            .interest__num {
              color: #caff33;
              text-align: left;
              font-size: 40px;
            }
            .interest__text {
              font-size: 15px;
              text-align: left;
              margin-bottom: 0px;
            }
          }
        }
        .sub-box__btn {
          font-size: 14px;
          padding: 14px 20px;
        }
      }
    }
  }
  .cases__sub-box:last-child {
    display: flex;
    flex-direction: row-reverse;
  }
  .interest__box::after {
    position: absolute;
    z-index: 10;
    width: 2px;
    height: 111px;
    background-image: url(./img/Home/home-img/cases/lineDashed1440.svg);
    margin: 0 0 0 180px;
  }
}

@media (min-width: 1920px) {
  .cases__container {
    padding: 0 160px;
  }
  .cases__text-container {
    padding-right: 40%;
    gap: 14px;
    .cases__title {
      font-size: 48px;
    }
    .cases__text {
      font-size: 18px;
    }
  }
  .cases__box {
    .cases__sub-box {
      gap: 60px;
      .sub-box__list {
        width: 750px;
        grid-template-columns: 314px 314px;
        grid-template-rows: 192px 192px;
        padding: 50px;
        gap: 20px;
        background-image: url(./img/Home/home-img/cases/bac1920.svg);
        .sub-box__item {
          padding: 30px;
          width: 314px;
          .sub-box__text {
            font-size: 20px;
          }
        }
      }
      .sub-box__container {
        gap: 62px;
        .sub-box__enter {
          .enter__title {
            font-size: 30px;
          }
          .enter__text {
            font-size: 18px;
          }
        }
        .interest {
          gap: 100px;
          .interest__box {
            .interest__num {
              font-size: 58px;
            }
            .interest__text {
              font-size: 18px;
            }
          }
        }
        .sub-box__btn {
          font-size: 18px;
          padding: 18px 24px;
        }
      }
    }
  }
  .interest__box::after {
    width: 3px;
    height: 111px;
    margin: 0 0 0 195px;
  }
}
