section {
  background-color: #1a1a1a;
  color: #fff;
}
button {
  color: #1c1c1c;
}

.text {
}

.hero {
}

.hero__welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.hero__title {
  text-align: center;
  font-size: 28px;
  line-height: 1.5;
}
.span {
  color: #caff33;
}

.hero__text {
  color: #e4e4e7;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.hero__btn {
  padding: 14px 24px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 82px;
  background: #caff33;
}

.quick {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px 8px 8px;
  border-radius: 61px;
  background: #262626;
  .text {
    font-size: 12px;
  }
}

.hero__money {
  margin: 0 auto;
}

.monthly {
  width: 111px;
  display: flex;
  padding: 8px 10px;
  align-items: center;
  gap: 5.128px;
  border-radius: 6.154px;
  background: #22251b;
}

.monthly__box {
  .title {
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
  }
  .text {
    color: #e4e4e7;
    font-size: 8px;
    line-height: 1.5;
  }
}

.exchange__box {
  display: flex;
  width: 305px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-radius: 6.154px;
  border: 0.513px solid transparent;
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box,
    linear-gradient(
        15deg,
        rgba(202, 255, 51, 0.2) 0%,
        rgba(38, 38, 38, 1) 10%,
        rgba(38, 38, 38, 1) 0%,
        rgba(38, 38, 38, 1) 18%,
        rgba(38, 38, 38, 1) 90%,
        rgba(38, 38, 38, 1) 82%,
        rgba(202, 255, 51, 0.2) 100%
      )
      border-box;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .title {
    font-size: 10px;
    line-height: 1.5;
  }
}

.block__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .item {
    width: 260px;
    border-radius: 6px;
    border: 0.513px solid #262626;
    background: #1c1c1c;
    display: flex;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: flex-end;
    .info {
      display: flex;
      align-items: center;
      gap: 5px;
      .sub-container {
        .text {
          font-size: 9px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
    .num {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}

#two {
  width: 240px;
}

#tree {
  width: 220px;
}

.exchange__block {
  width: 268px;

  .title {
    font-size: 10px;
    line-height: 1.5;
  }
  .list {
    border-radius: 6px;
    border: 0.5px solid #262626;
    .item {
      display: flex;
      gap: 5px;
      .box {
        width: 132px;
        display: flex;
        align-items: flex-start;
        padding: 10px;

        .sub {
          display: flex;
          align-items: center;
          gap: 5px;
          .title {
            font-size: 9px;
            line-height: 1.5;
          }
        }
        .text {
          color: #e4e4e7;
          font-size: 8px;
          line-height: 1.5;
        }
      }
      .num {
        font-size: 10px;
        font-weight: 500;
        line-height: 1.5;
        padding: 15px 10px;
      }
    }
  }
}

#num {
}
