@use '../constructor/variables.scss' as *;

section {
  color: var(--Absolute-White);
}

button {
  color: $grey-11;
}

.hero {
  padding-top: $spacing-x8l + 43px;
  position: relative;
  .hero__points {
    position: absolute;
    left: 0;
    top: 0;
    width: 382px;
    height: 307px;
  }

  .hero__container {
    max-width: 358px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .hero__welcome {
    gap: $spacing-x7l;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-x3l;

    .hero__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing-sm;

      .hero__quick {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 8px $spacing-lg 8px 8px;
        border-radius: 61px;
        background: $grey-15;

        .hero__quick-icon {
          width: 20px;
          height: 20px;
        }

        .hero__quick-text {
          font-weight: 300;
          line-height: 200%;
          font-size: 12px;
        }
      }

      .hero__text-group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .hero__title {
          font-weight: 500;
          text-align: center;
          font-size: $font-x2l;
          line-height: $lh-default;
        }

        .hero__highlight {
          color: var(--Green-60);
        }

        .hero__description {
          font-weight: 300;
          color: $white-90;
          text-align: center;
          font-size: $font-xs;
          line-height: $lh-default;
        }
      }
    }

    .hero__btn {
      padding: $spacing-md $spacing-x2l;
      font-size: $font-xs;
      line-height: $lh-default;
      border-radius: 82px;
      background: var(--Green-60);
      transition: all 0.5s ease;

      &:hover,
      &:focus {
        color: var(--Green-60);
        background-color: var(--Grey-10);
        border: 1px solid var(--Green-60);
      }
    }
  }

  .hero__info {
    position: relative;

    .hero__income {
      z-index: 8;
      display: flex;
      padding: 8px $spacing-sm;
      align-items: center;
      gap: 5px;
      border-radius: 6px;
      background: #22251b;
      position: absolute;
      top: 52.5px;

      .hero__income-icon {
        width: 23px;
        height: 23px;
      }

      .hero__income-box {
        .hero__income-title {
          font-size: 10px;
          line-height: $lh-default;
        }

        .hero__income-text {
          color: var(--White-90);
          font-weight: 300;
          font-size: 8px;
          line-height: $lh-default;
        }
      }
    }

    .hero__exchange {
      display: flex;
      width: 305px;
      margin: 0 auto;
      margin-top: $spacing-x7l;
      padding: $spacing-xl;
      flex-direction: column;
      align-items: flex-start;
      gap: $spacing-lg;
      border-radius: 6px;
      border: 0.513px solid transparent;
      background: linear-gradient(var(--Grey-10), var(--Grey-10)) padding-box,
        linear-gradient(
            15deg,
            rgba($accent-color, 0.2) 0%,
            var(--Grey-15) 10%,
            var(--Grey-15) 18%,
            var(--Grey-15) 90%,
            rgba(var(--Green-60), 0.2) 100%
          )
          border-box;

      .hero__transactions {
        height: 125px;
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;

        .hero__transactions-title {
          font-size: 10px;
          line-height: $lh-default;
        }

        .hero__transactions-list {
          display: flex;
          flex-direction: column;
          align-items: center;

          .hero__transaction {
            z-index: 2;
            width: 260px;
            border-radius: 6px;
            border: 0.513px solid var(--Grey-15);
            background: var(--Grey-11);
            display: flex;
            padding: $spacing-sm $spacing-md;
            justify-content: space-between;
            align-items: flex-end;

            .hero__transaction-info {
              display: flex;
              align-items: center;
              gap: $spacing-xs;

              .hero__transaction-icon {
                width: 23px;
                height: 23px;
              }

              .hero__transaction-user {
                .hero__transaction-label {
                  font-size: 9px;
                  font-weight: 300;
                  line-height: $lh-default;
                }
                .hero__transaction-name {
                  font-size: 10px;
                  line-height: $lh-default;
                }
              }
            }

            .hero__transaction-amount {
              font-size: 12px;
              font-weight: 500;
              line-height: $lh-default;
            }
          }
        }
      }

      .hero__currency {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $spacing-md;

        .hero__currency-title {
          font-size: 10px;
          font-weight: 500;
          line-height: $lh-default;
        }

        .hero__currency-list {
          border-radius: 6px;
          border: 0.5px solid var(--Grey-15);

          .hero__currency-item {
            display: flex;

            .hero__currency-box {
              display: flex;
              flex-direction: column;
              gap: 5px;
              width: 132px;
              padding: $spacing-sm;

              .hero__currency-sub {
                display: flex;
                align-items: center;
                gap: 5px;

                .hero__currency-icon {
                  width: 21px;
                  height: 21px;
                }

                .hero__currency-code {
                  font-size: 9px;
                  line-height: $lh-default;
                }
              }

              .hero__currency-name {
                font-weight: 300;
                color: $white-90;
                font-size: 8px;
                line-height: $lh-default;
              }
            }

            .hero__currency-value {
              border-top: 0.5px solid var(--Grey-15);
              width: 132px;
              font-size: 10px;
              font-weight: 500;
              line-height: $lh-default;
              padding: 15px 10px;
            }
          }
        }

        .hero__currency-btn {
          padding: 8px 15px;
          border-radius: 42px;
          background: #22251b;
          color: #d1ff4d;
          font-size: 9px;
          line-height: $lh-default;
          width: 100%;
          transition: all 0.5s ease;
        }
      }
    }

    .hero__support {
      display: flex;
      width: 219px;
      padding: 5px 5px 5px 12px;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: -55px;
      border-radius: 40px;
      background: $olive-dark;

      .hero__support-label {
        font-size: 9px;
        line-height: $lh-default;
      }

      .hero__support-list {
        display: flex;
        padding: 5px;
        align-items: flex-start;
        gap: 4px;
        border-radius: 28.205px;
        border: 0.513px solid var(--Grey-15);
        background: var(--Grey-10);

        .hero__support-item {
          .hero__support-icon {
            width: 21px;
            height: 21px;
          }
        }
      }
    }
  }

  #two {
    width: 240px;
    position: absolute;
    z-index: 1;
    top: 160px;
    opacity: 60%;
  }

  #three {
    width: 220px;
    position: absolute;
    z-index: 0;
    top: 193px;
    opacity: 25%;
  }

  #bord {
    border-left: 1px solid var(--Grey-15);
  }

  .hero__arrows-img {
    position: absolute;
    z-index: -1;
    right: -16px;

    top: 62px;
    width: 220px;
    height: 201px;
  }

  .arr {
    display: none;
  }
}

.arr__container.active {
  .arr__icon {
    transition: transform 0.3s ease;
  }

  .arr__icon--1 {
    transform: translate(20px, -10px);
  }

  .arr__icon--2 {
    transform: translate(16px, -3px);
  }

  .arr__icon--3 {
    transform: translate(30px, -15px);
  }

  .arr__icon--4 {
    transform: translate(15px, -15px);
  }

  .arr__icon--5 {
    transform: translate(30px, -8px);
  }

  .arr__icon--6 {
    transform: translate(25px, 0px);
  }
}

@include respond(md) {
  .hero {
    padding-top: $spacing-x8l + 53px;
    .hero__points {
      width: 547px;
      height: 440px;
    }
    .hero__container {
      max-width: 1440px;
      padding: $spacing-x6l $spacing-x8l * 2 $spacing-x6l $spacing-x7l;
      align-items: flex-start;
      gap: $spacing-x8l;
      flex-direction: row;
      position: relative;
    }

    .hero__welcome {
      width: 645px;
      align-items: flex-start;
      gap: $spacing-x4l;
      .hero__box {
        align-items: flex-start;
        gap: $spacing-md;
        .hero__quick {
          .hero__quick-text {
            font-size: $font-xs;
          }
        }
        .hero__text-group {
          gap: $spacing-sm;
          .hero__title {
            text-align: left;
            font-size: $font-x4l;
          }
          .hero__description {
            text-align: left;
            font-size: $font-sm;
          }
        }
      }
    }

    .hero__info {
      .hero__income {
        padding: 11px $spacing-md;
        left: -48.339px;
        top: -34.338px;
        gap: 7px;
        .hero__income-icon {
          width: 30px;
          height: 30px;
        }
        .hero__income-box {
          .hero__income-title {
            font-size: $font-xs;
          }
          .hero__income-text {
            font-size: 11px;
          }
        }
      }
      .hero__exchange {
        width: 410.192px;
        padding: 27.55px;
        gap: 82px;
        margin-top: 0px;
        border-radius: 8px;

        .hero__transactions {
          gap: $spacing-md;
          .hero__transactions-title {
            font-size: $font-xs;
            font-weight: 500;
          }

          .hero__transactions-list {
            .hero__transaction {
              z-index: 2;
              width: 355px;
              border-radius: 8px;
              border: 0.513px solid #262626;
              background: #1c1c1c;
              display: flex;
              padding: 8px 12px;
              justify-content: space-between;
              align-items: flex-end;
              .hero__transaction-info {
                display: flex;
                align-items: center;
                gap: 5px;
                .hero__transaction-icon {
                  height: 30px;
                  width: 30px;
                }
                .hero__transaction-user {
                  .hero__transaction-label {
                    font-size: 12px;
                    line-height: 23px;
                  }

                  .hero__transaction-name {
                    font-size: $font-xs;
                    line-height: 24px;
                  }
                }
              }
              .hero__transaction-amount {
                font-size: $font-sm;
              }
            }
          }
        }

        .hero__currency {
          gap: $spacing-xl;
          .hero__currency-title {
            font-size: $font-xs;
          }

          .hero__currency-list {
            .hero__currency-item {
              .hero__currency-box {
                width: 177px;
                padding: $spacing-md;
                gap: 7px;
                .hero__currency-sub {
                  display: flex;
                  align-items: center;
                  gap: 7px;
                  .hero__currency-icon {
                    width: 28px;
                    height: 28px;
                  }
                  .hero__currency-code {
                    font-size: 12px;
                  }
                }
                .hero__currency-name {
                  font-size: 11px;
                }
              }
              .hero__currency-value {
                width: 177px;
                font-size: 13px;
                padding: $spacing-xl $spacing-md;
              }
            }
          }
          .hero__currency-btn {
            padding: 11.019px 20.66px;
            font-size: 12.396px;
            font-style: normal;
          }
        }
      }
      .hero__support {
        position: absolute;
        right: -41.434px;
        bottom: -68.963px;
        width: 294px;
        padding: 7px 7px 7px $spacing-lg;
        bottom: -72px;
        .hero__support-label {
          font-size: 12px;
        }
        .hero__support-list {
          padding: 7px;
          align-items: flex-start;
          gap: 5.5px;
          border-radius: 28.205px;
          border: 0.513px solid #262626;
          background: #1a1a1a;
          .hero__support-item {
            .hero__support-icon {
              width: 27px;
              height: 27px;
            }
          }
        }
      }
    }

    #two {
      width: 320px;
      top: 110px;
    }
    #three {
      width: 300px;
      top: 157px;
    }
    .hero__arrows-img {
      display: none;
    }
    .arr {
      width: 300px;
      height: 275px;
      position: absolute;
      right: 69px;
      top: 54px;
      opacity: 40%;
      display: block;
    }
    .hero__arrows {
      opacity: 100%;
    }
    .arr__container {
      position: absolute;
      z-index: -1;
      left: 0px;
      top: 0px;
    }
    .arr__trigger {
      position: absolute;
      z-index: 100;
      left: 0px;
      top: 0px;
    }
    .arr__icon {
      position: absolute;
      z-index: -1;
      transition: transform 0.3s ease;
    }
    .arr__icon--1 {
      width: 194px;
      height: 194px;
      right: 31px;
      top: 0px;
    }
    .arr__icon--2 {
      width: 161px;
      height: 161px;
      right: 78px;
      bottom: 0px;
    }

    .arr__icon--3 {
      width: 40px;
      height: 40px;
      right: 0px;
      top: 133px;
    }

    .arr__icon--4 {
      width: 40px;
      height: 40px;
      right: 109px;
      top: 0px;
    }

    .arr__icon--5 {
      width: 40px;
      height: 40px;
      right: 31px;
      top: 70px;
    }

    .arr__icon--6 {
      width: 78px;
      height: 78px;
      right: 39px;
      top: 138px;
    }
  }
}

@include respond(lg) {
  .hero {
    padding-top: $spacing-x8l * 2;
    .hero__container {
      max-width: 1920px;
      padding: $spacing-x8l 297px $spacing-x8l 162px;
      margin: 0 auto;
      gap: $spacing-x8l + $spacing-xl;
    }
    .hero__welcome {
      width: 826px;
      gap: $spacing-x5l;
      .hero__box {
        gap: $spacing-xl;
        .hero__quick {
          gap: $spacing-xs;
          padding: $spacing-sm $spacing-xl $spacing-sm 12px;
          .hero__quick-text {
            font-size: $font-md;
          }
          .hero__quick-icon {
            width: 24px;
            height: 24px;
          }
        }
        .hero__text-group {
          gap: $spacing-md;
          .hero__title {
            font-size: $font-x5l;
          }
          .hero__description {
            font-size: $font-md;
          }
        }
      }
      .hero__btn {
        padding: 18px $spacing-x3l;
        font-size: $font-md;
      }
    }

    .hero__info {
      .hero__income {
        padding: 14px 17px;
        gap: 9px;
        left: -60.692px;
        top: -43.352px;
        border-radius: 10px;
        .hero__income-icon {
          width: 38px;
          height: 38px;
        }

        .hero__income-box {
          .hero__income-title {
            font-size: 17px;
          }

          .hero__income-text {
            font-size: 14px;
          }
        }
      }
      .hero__exchange {
        width: 515px;
        padding: 34px;
        gap: 64px;
        border-radius: 10px;
        .hero__transactions {
          height: 190px;
          gap: 17px;
          .hero__transactions-title {
            font-size: 17px;
          }
          .hero__transactions-list {
            .hero__transaction {
              width: 446px;
              padding: $spacing-md 21px;
              border-radius: 10px;
              .hero__transaction-info {
                display: flex;
                align-items: center;
                gap: 8px;
                .hero__transaction-icon {
                  width: 38px;
                  height: 38px;
                }
                .hero__transaction-user {
                  display: block;
                  .hero__transaction-label {
                    font-size: $font-sm;
                  }

                  .hero__transaction-name {
                    font-size: 17px;
                    line-height: 26px;
                  }
                }
              }
            }
          }
        }

        .hero__currency {
          gap: 25px;
          .hero__currency-title {
            font-size: 17px;
          }

          .hero__currency-list {
            .hero__currency-item {
              .hero__currency-box {
                width: 222px;
                padding: 17px;
                gap: 9px;
                .hero__currency-sub {
                  display: flex;
                  align-items: center;
                  gap: 9px;

                  .hero__currency-code {
                    font-size: $font-sm;
                  }
                }
                .hero__currency-name {
                  font-size: $font-xs;
                }
              }
              .hero__currency-value {
                width: 222px;
                font-size: 17px;
                padding: 26px 17px;
              }
            }
          }

          .hero__currency-btn {
            font-size: $font-sm;
            padding: $spacing-md 26px;
          }
        }
      }
      .hero__support {
        width: 370px;
        padding: 9px 9px 9px 21px;
        right: -52.022px;
        bottom: -88px;
        .hero__support-label {
          font-size: 15px;
        }
        .hero__support-list {
          padding: 9px;
          gap: 7px;
          .hero__support-item {
            .hero__support-icon {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
    #two {
      width: 411px;
      top: 133px;
    }
    #three {
      width: 376px;
      top: 186px;
    }
    .arr {
      right: 162px;
      top: 48px;
    }
  }
}
