.products__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 140px 80px 80px 80px;
}

.products__enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .products__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    span {
      color: #caff33;
    }
  }
  .products__text {
    color: #b3b3b3;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
  }
}
.buttons {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  border-radius: 82px;
  border: 1px solid #262626;
  background: #1c1c1c;
  .btn {
    width: 140px;
    padding: 10px 18px;
    border-radius: 140px;
    background: #1c1c1c;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    transition: all 0.5s ease;
  }
}

.btn:hover {
  opacity: 90%;
  color: #1c1c1c;
  background: #caff33;
}

.btn:focus {
  color: #1c1c1c;
  background: #caff33;
}

.products__box {
  .products__list {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    gap: 30px;
    .products__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      .svg {
        width: 65px;
        height: 60px;
      }
      .box {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .title {
          font-size: 20px;
          line-height: 1.5;
        }
        .text {
          color: #b3b3b3;
          text-align: center;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}
.products__item::after {
  content: "";
  width: 338px;
  height: 1px;
  background: #262626;
}
.products__item:last-child::after {
  display: none;
}

@media (min-width: 1440px) {
  .products__container {
    gap: 80px;
    padding: 120px 80px;
  }

  .products__enter {
    flex-direction: row;
    gap: 150px;
  }
  .sub-container {
    align-items: flex-start;
    .products__title {
      font-size: 38px;
    }
    .products__text {
      font-size: 16px;
      text-align: left;
    }
  }
  .buttons {
    .btn {
      width: 139px;
    }
  }

  .products__box {
    .products__list {
      flex-direction: row;
      gap: 80px;
      .products__item:last-child {
        border-right: none;
        padding-right: 0;
      }
      .products__item {
        padding-right: 60px;
        border-right: 1px solid #262626;
        .box {
          gap: 16px;
          .title {
            font-size: 20px;
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
  }
  .products__item::after {
    display: none;
  }
}

@media (min-width: 1920px) {
  .products__container {
    gap: 100px;
    padding: 165px;
  }

  .products__enter {
    gap: 300px;
  }
  .sub-container {
    align-items: flex-start;
    .products__title {
      font-size: 48px;
    }
    .products__text {
      font-size: 18px;
    }
  }
  .buttons {
    .btn {
      font-size: 18px;
      width: 180px;
    }
  }

  .products__box {
    .products__list {
      flex-direction: row;
      gap: 80px;
      .products__item {
        padding-right: 60px;
        .box {
          gap: 20px;
          .title {
            font-size: 24px;
          }
          .text {
            font-size: 18px;
          }
        }
      }
    }
  }
}
