.questions__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}

.questions__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .questions__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    span {
      color: #caff33;
    }
  }
  .questions__text {
    color: #b3b3b3;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
  }
}

.questions__sub-container {
  .questions__list {
    .questions__item {
      .title {
      }
      .text {
      }
      .questions__btns {
        .btn {
        }
      }
    }
  }
  .button {
  }
}

@media (min-width: 1440px) {
  .questions__container {
  }

  .questions__box {
    .questions__title {
    }
    .questions__text {
    }
  }

  .questions__sub-container {
    .questions__list {
      .questions__item {
        .title {
        }
        .text {
        }
        .questions__btns {
          .btn {
          }
        }
      }
    }
    .button {
    }
  }
}
