@use '../constructor/variables.scss' as *;

.modal-sign-up {
  padding-top: 30px;
}

.container-modal-sign-up {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 358px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--Grey-15, #262626);
  background: url(#{$bg-img-modal-login}) center / cover no-repeat, #1c1c1c;
  background-blend-mode: multiply, normal;
  padding: 30px;
}

.container-modal-sign-up-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title-sign-up {
  color: var(--Green-60, #caff33);
  text-align: center;
  font-size: $font-size-lg;
  font-weight: 500;
}

.text-sign-up {
  color: var(--Grey-75, #bfbfbf);
  text-align: center;
  font-size: $font-size-sm;
  font-weight: 300;
}

.container-form-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.container-button-sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.input-date-sign-up {
  padding: 16px;
  align-self: stretch;
  border-radius: 88px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
}
