@use '../constructor/variables.scss' as *;

.signup {
  padding-top: $spacing-x8l + 43px;
  &__container {
    display: flex;
    max-width: 358px;
    margin: 0 auto;
    padding: $spacing-x3l;
    flex-direction: column;
    gap: $spacing-x4l;
    align-items: center;
    position: relative;
  }
  &__container--points {
    position: absolute;
    width: 154px;
    height: 159px;
    right: 0;
    top: 0;
    z-index: 80;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-sm;
    .signup__header-title {
      color: var(--Green-60);
      text-align: center;
      font-size: $font-x2l;
      font-weight: 500;
    }

    .signup__header-text {
      color: var(--Grey-75);
      text-align: center;
      font-size: $font-xs;
      font-weight: 300;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-x2l;
    align-self: stretch;
    .signup__fields {
      width: 100%;
      display: grid;
      gap: $spacing-xl;
      .signup__label {
        padding: $spacing-lg;
        border-radius: 88px;
        border: 1px solid var(--Grey-15);
        background: var(--Grey-10);
      }
      .signup__input {
        color: var(--Grey-35);
        background: var(--Grey-10);
        flex: 1 0 0;
        font-size: $font-sm;
        font-weight: 300;
        line-height: $lh-default;
      }
    }
    .signup__actions {
      display: flex;
      flex-direction: column;
      gap: $spacing-x2l;
      .signup__button {
        padding: $spacing-md $spacing-x2l;
        align-self: stretch;
        border-radius: 63px;
        text-align: center;
        font-size: $spacing-md;
        line-height: $lh-default;
        transition: all 0.5s ease;
      }
      .signup__button--login:hover,
      .signup__button--login:focus {
        opacity: 90%;
        border: 1px solid var(--Grey-20);
        background: var(--Grey-15);
        color: var(--Absolute-White);
      }

      .signup__button--signup:hover,
      .signup__button--signup:focus {
        opacity: 90%;
        color: var(--Grey-11);
        background: var(--Green-60);
      }
      .signup__button--login {
        background: var(--Green-60);
        color: var(--Grey-15);
      }

      .signup__button--signup {
        border: 1px solid var(--Grey-20);
        background: var(--Grey-15);
        color: var(--Absolute-White);
      }
      .signup__divider {
        display: flex;
        align-items: center;
        gap: $spacing-lg;
        .signup__line {
          width: 75px;
          height: 1px;
          background: var(--Grey-70);
        }

        .signup__divider-text {
          color: var(--Grey-70);
          text-align: center;
          font-size: $font-xs;
          line-height: $lh-default;
        }
      }
      .signup__social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-xl;
        align-self: stretch;
        .signup__social-item {
          padding: 8px;
          border-radius: 70px;
          background: linear-gradient(
            180deg,
            rgba(202, 255, 51, 0.05) 0%,
            rgba(202, 255, 51, 0) 100%
          );
          .signup__icon {
            position: relative;
            width: 52px;
            height: 52px;
            display: flex;
            border-radius: 50px;
            background: linear-gradient(
              180deg,
              rgba(202, 255, 51, 0.1) -66.22%,
              rgba(202, 255, 51, 0) 85.46%
            );
            justify-content: center;
            align-items: center;
            .signup__icon-svg {
              width: 24px;
              height: 24px;
            }
          }
          .signup__icon::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
              180deg,
              rgba(202, 255, 51, 0.1) -66.22%,
              rgba(202, 255, 51, 0) 85.46%
            );
            border-radius: 50px;
            pointer-events: none;
            padding: 1px;
            -webkit-mask: linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            mask-composite: exclude;
          }
        }
      }
    }
  }
  &__label--password {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }
  &__label--eye {
    width: 20px;
    height: 20px;
  }
  &__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../img/Login/login.png') 50% / cover no-repeat;
    background-blend-mode: overlay, normal;
    border-radius: 16px;
    border: 1px solid var(--Grey-15);
    z-index: -1;
    opacity: 40%;
  }
}

@include respond(md) {
  .signup {
    padding-top: 153px;
    &__container {
      max-width: 1064px;
      padding: $spacing-x7l $spacing-x8l + $spacing-x8l;
      gap: $spacing-x6l;
    }
    &__container--points {
      width: 235px;
      height: 243px;
    }
    &__header {
      gap: $spacing-lg;
      .signup__header-title {
        font-size: $font-x4l;
      }

      .signup__header-text {
        font-size: $font-sm;
      }
    }

    &__form {
      gap: $spacing-x3l;
      .signup__fields {
        gap: $spacing-x3l $spacing-x2l;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        .signup__label {
          padding: $spacing-xl;
        }
        .signup__input {
          font-size: $font-sm;
        }
      }
      .signup__actions {
        padding: 0px $spacing-x8l + $spacing-x3l;
        align-self: stretch;
        .signup__divider {
          .signup__line {
            width: 128px;
          }
        }
      }
    }
  }
}

@include respond(lg) {
  .signup {
    padding-top: $spacing-x8l + $spacing-x8l;
    &__container {
      max-width: 1326px;
      padding: $spacing-x8l $spacing-x8l + $spacing-x5l;
      flex-direction: column;
      gap: $spacing-x7l;
    }
    &__container--points {
      width: 317px;
      height: 325px;
    }

    &__header {
      gap: $spacing-xl;
      .signup__header-title {
        font-size: $font-x5l;
      }

      .signup__header-text {
        font-size: $font-md;
      }
    }

    &__form {
      gap: $spacing-x4l;
      .signup__fields {
        gap: $spacing-x3l;
        .signup__label {
          padding: $spacing-x2l;
        }
        .signup__input {
          font-size: $font-md;
        }
      }

      .signup__actions {
        padding: 0px 254px;
        .signup__button {
          font-size: $font-md;
          line-height: $lh-default;
          padding: 18px $spacing-xl;
        }
        .signup__divider {
          gap: $spacing-xl;
          .signup__line {
            width: 164px;
          }
          .signup__divider-text {
            font-size: $font-md;
          }
        }
        .signup__social {
          margin-top: $spacing-xs;
          .signup__social-item {
            padding: 12px;
            .signup__icon {
              width: 70px;
              height: 70px;
              .signup__icon-svg {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
    &__label--eye {
      width: 24px;
      height: 24px;
    }
  }
}
